{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if legend != "New Project Assignment" %}
            {% if legend != "Update Assignment" %}
            {% if legend != "Update Employee SSN" %}
            <div class="form-group">
                {{ form.hours.label(class="form-control-label") }}
                {% if form.hours.errors %}
                    {{ form.hours(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endif %}
            {% endif %}
            {% endif %}
            {% if legend != "Update Employee SSN" %}
            {% if legend != "New ESSN Assignment" %}
            <div class="form-group">
                {{ form.pno.label(class="form-control-label") }}
                {% if form.pno.errors %}
                    {{ form.pno(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.pno.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.pno(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% if legend != "New Project Assignment" %}
            {% if legend != "Update Assignment" %}
            <div class="form-group">
                {{ form.essn.label(class="form-control-label") }}
                {% if form.essn.errors %}
                    {{ form.essn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.essn.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.essn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}